body {
    background-color:pink;
    text-align: center;
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
    


}


#header {
    background-color: pink;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    animation-delay: 2s;
    
}

#add {
 background-color: green ;
 color: white;
 font-style: italic;
 margin: 10px ;
 padding: 10px;
 box-shadow: 5px 5px 5px 5px black;
 cursor: pointer;
 transform: scaleX(1);

}

#edit {
    background-color: pink;
    color: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px black;
    
}

#remove {
    background-color: blue;
    color: white;
    font-style: italic;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px black;


}

#remove-all {
    background-color: purple;
    color: white;
    font-style: italic;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px black;
}

h3 {
    font-family: fantasy;
}

li:hover {
    font-style: italic ;
    display: inline-flexbox;
    transition: 0.5s;
    cursor: pointer;
    transform: scaleX(1);
    background-color: red;
    column-span: initial;
    
}

#buttons:hover {
    cursor: col-resize 10px;
}


.itemCompleted {
  animation: forwards;
  position: static;
  text-align: right;
  stroke: 3px white;
  
}

